html{
    width: 1080px;
    height: 2000px;
    padding: 0px;
    margin: 0px;

}
a{
    text-decoration:none;
}
ul{
    list-style-type: none ;
}
body{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 30px;
}
.header-logo{
    margin: 0%;
    padding: 0px;
    line-height: 30px;
}
.item{
    padding-left: 0;
}
.a{
    padding-top: 20px;
    padding-bottom: 20px;
}
.b{
    padding-top: 40px;
}
img{
    width: 90%;
    height: 90%;
}
.img{
    height: 200px;
    wedth: 200px;
}
